/**----------------------------------------------------------------**/
/* md ≥ 768px|48em	.pure-u-md-* */

.container {
    max-width:47em;
}

.profile-pic {
    margin-bottom:0px;
}

article .hero {
    height:30em;
}
header .beyonce {
    display:inline;
}

header .kevin-bacon {
    display:none;
}